PORT=4000
MONGODB_URI=mongodb+srv://amanuelbusi_db_user:YE48p6ZFSBt6Zmmf@cluster0.emsvwvx.mongodb.net/?appName=Cluster0
JWT_SECRET=M0Y6vfDqqqE/Gd7P3rBS+R32yIUkOC8dxyYPlLo75FA=
CLIENT_ORIGIN=http://localhost:5173
ADMIN_EMAIL=admin@auwcec.edu
ADMIN_PASSWORD=
SEED_LEADER_PASSWORD=
